In [15]:
#Import required packages #
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [16]:
#Assigning PWD #

%cd "C:\Users\Anirban\Desktop\Data Sc\regression_linear\Auto_mpg"

C:\Users\Anirban\Desktop\Data Sc\regression_linear\Auto_mpg

In [17]:
#Read the data #

df = pd.read_csv('auto-mpg.csv')

In [4]:
#Checking the data #
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
#hecking if there is any Null value #

df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [6]:
#Checking if there is any non numeric value #

df.applymap(np.isreal).sum()

mpg             398
cylinders       398
displacement    398
horsepower        0
weight          398
acceleration    398
model year      398
origin          398
car name          0
dtype: int64

In [21]:
# As we have some non-numeric values in "horsepower", we need to replace the characters by 0 #
df.horsepower[df.horsepower == '?'] = 0
print(df.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

C:\Users\Anirban\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
# We nee dto change the data type of the horsepower to numeric#

df.applymap(np.isreal).sum()

mpg             398
cylinders       398
displacement    398
horsepower        6
weight          398
acceleration    398
model year      398
origin          398
car name          0
dtype: int64

In [22]:

df["horsepower"]=df["horsepower"].astype(int)

In [26]:
df.applymap(np.isreal).sum()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
car name          0
dtype: int64

In [24]:
#Now replacing the non numeric values with the mean values of horsepower

In [25]:
df.horsepower=df.horsepower.fillna(df.horsepower.mean())

In [27]:
#Dropping the unwanted coulmns
df = df.drop(['car name','origin','model year'], axis=1)

In [28]:
#Creating a X variable for the indepedent variables(except depedent one)#
X = df.drop('mpg', axis=1)

In [29]:
#Creating a X variable for the depedent variable#
y = df[['mpg']]

In [30]:
#Segregating testing(20%) and training(80%) variables#
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [32]:
#Just checking the size of the variables #
X_train.shape

(318, 5)

In [33]:
X_test.shape

(80, 5)

In [34]:
y_train.shape

(318, 1)

In [35]:
y_test.shape

(80, 1)

In [36]:
df.shape

(398, 6)

In [40]:
#Model Building and prediction #

reg = LinearRegression()
reg.fit(X_train[['horsepower','weight','cylinders']], y_train)
y_predicted = reg.predict(X_test[['horsepower','weight','cylinders']])

#Find  MSE and R2 values for the accuracy #

print("Mean squared error: %.2f" % mean_squared_error(y_test, y_predicted))
print('R²: %.2f' % r2_score(y_test, y_predicted))

Mean squared error: 12.12
R²: 0.78

So, we have less Mean squre error and more R2 value(0 to 1), So, model prediction is good.